<nav class="container mt-1">
    <div class="d-flex justify-content-center">
        <a class='p-2' href="/">Search</a> 
        <a class='p-2' href="/bookmark">Bookmark</a> 
        <a class='p-2' href="/history">Search History</a> 
    </div>
</nav>
<hr>